body{
    font-family: 'Poppins', sans-serif;
    background-image:repeating-linear-gradient( -45deg, rgb(255, 205, 192), rgb(255, 205, 192) 20px, rgb(253, 246, 244) 20px, rgb(253, 246, 244) 50px);
    color: rgb(255, 145, 121);
    margin: 0;
    animation: changecolor 2s ease-in-out infinite;
}
.main_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(253, 246, 244);
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 28vw;
    border-radius: 10px;
    box-shadow: rgba(255, 145, 121, 0.8) 0px 30px 60px -20px;
    transition: 500ms ease-in-out;
}
.container2, .container3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    width: 25vw;
}

.sub_container,.sub_container1{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 246, 244);
    padding: 0px 15px;
    width: 85%;
    height: 40vh;
    border-radius: 10px;
    box-shadow: rgba(255, 145, 121, 0.8) 0px 20px 40px -20px;
    transition: 500ms ease-in-out;
}

.image{
    width: 60%;
    height: 40%;
    background-image: url("images/pic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: solid 5px rgb(255, 145, 121);
}

.details{
    width: 90%;
}
.details h1{
    margin: 0;
}

a{
    color: rgb(255, 145, 121);
    font-display: none;
    text-decoration: none;
}

.contact{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.git,.inst,.whats,.mail,.linked{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 500ms ease-in-out;
}

.git{
    background-image: url("images/githublogo.png");
}
.inst{
    background-image: url("images/instalogo.png");
}
.whats{
    background-image: url("images/whatslogo.png");
}
.mail{
    background-image: url("images/maillogo.png");
}
.linked{
    background-image: url("images/linkedlogo.png");
}

/*hover*/
.git:hover,.inst:hover,.whats:hover,.mail:hover,.linked:hover{
    transform: translateY(-5px);
}
.image:hover{
    transform: rotateX('45deg');
}
.container1:hover{
    box-shadow: rgb(255, 128, 100) 0px 40px 80px -20px;
}
.sub_container:hover, .sub_container1:hover{
    box-shadow: rgba(255, 128, 100) 0px 30px 60px -20px;
}

/*animation*/
@keyframes blurslideleft {
    from{
        opacity: 0;
        transform: translateX(-25px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }  
}

@keyframes blurslideup {
    0%,50%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }  
}

.image, .details, .contact{
    animation: blurslideleft 0.5s ease-in-out;
}

.content{
    animation: blurslideup 1s ease-in-out;
}

/*Responsiveness*/
@media only screen and (min-width:1920px){
    h1{
        font-size: xx-large;
    }
    h2,p{
        font-size: x-large;
    }
}
@media only screen and (max-width:1400px){
    p{
        font-size: medium;
    }
    .sub_container1 p{
        font-size: small;
    }
}
@media only screen and (max-width:1250px){
    .git,.mail,.inst,.linked,.whats{
        width: 45px;
        height: 45px;
    }
    h1{
        font-size: x-large;
    }
    h2{
        font-size: large;
    }
    .details p{
        font-size: small;
    }
}
@media only screen and (max-width:1028px){
    .image{
        width: 20%;
        height: 70%;
    }
    .main_container{
        height: 160vh;
        flex-direction: column;
    }
    .container1{
        justify-content: space-around;
        box-shadow: rgba(255, 145, 121, 0.8) 0px 20px 40px -20px;
    }
    .container1,.container2,.container3{
        flex-direction: row;
        height: 40vh;
        width: 90vw;
    }
    .sub_container,.sub_container1{
        width: 40vw;
    }
    .details{
        width: 50%;
    }
}

@media only screen and (max-width:768px){
    .image{
        width: 50%;
        height: 40%;
    }
    .main_container{
        height: 250vh;
    }
    .container1{
        height: 70vh;
        width: 80vw;
        flex-direction: column;
    }
    .container2,.container3{
        height: 80vh;
        width: 80vw;
        flex-direction: column;
    }
    .sub_container,.sub_container1{
        justify-content: center;
        width:95%;
        height: 35vh;
    }
    .git,.mail,.inst,.linked,.whats{
        width: 40px;
        height: 40px;
    }
    p{
        font-size: small;
    }
    .sub_container1 p{
        font-size: smaller;
    }
    h1{
        font-size: large;
    }
    h2{
        font-size: medium;
    }
    .git,.mail,.inst,.linked,.whats{
        width: 35px;
        height: 35px;
    }
    .details{
        width: 90%;
    }
}
